
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: #4848484a #4848484a;
}

@keyframes colorSpectrum {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/*ODISEA1*/

.pagina3{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden; /* Evita barras de desplazamiento */
}

.container2{
    display: flex;
    width: 100vw;
    height: 100vh;
}

/*canva de hydra con su posicionamiento*/
#odisea01 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    z-index: -1; /* Envía el canvas al fondo */
}

.zona {
    position: absolute;
}

#zonaCompleta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    background-color: transparent; /* Fondo transparente */
    cursor: pointer;
    z-index: 10; /* Asegúrate de que esté encima de otros elementos */
}

/* Panel oculto inicialmente */
.panel{
    position: fixed;
    top: 0;
    right: -250px; /* Oculto fuera de la pantalla */
    width: 250px;
    height: 100vh;
    background-color: #4a4a4aa2;
    transition: right 0.3s ease; /* Animación suave */
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
}

.panel-title{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(90deg, magenta, cyan, yellow, cyan, magenta);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%; /* Aumenta el tamaño del fondo para permitir el movimiento */
    animation: colorSpectrum 5s infinite linear; /* Asegura un movimiento suave y continuo */ 
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.panel-subtitle{
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
    color: yellow;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);

}

.panel-text{
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
}

/* Pestaña visible */
.panel .tab {
    position: absolute;
    top: 50%;
    left: -40px; /* Posiciona la pestaña fuera del panel */
    width: 40px;
    height: 40px;
    background-color: #4848484a;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

/* Contenido del panel */
.panel .content {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
}

/*links de botones*/
.boton{
    background-color: none;
    background: linear-gradient(90deg, blue, indigo, violet);
    background-size: 500%;
    animation: colorSpectrum 5s infinite linear;
    border:none;
    color:aliceblue;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 10px 65px;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}
.boton:hover {
    background: linear-gradient(90deg, red, yellow, green);
    background-size: 500%;
    animation: colorSpectrum 5s infinite linear;
    cursor: pointer;
}

.boton:active {
    background: linear-gradient(90deg, green, blue, purple);
    background-size: 500%;
    animation: colorSpectrum 5s infinite linear;
    cursor: pointer;
}

/*estilo para los mensajes*/
.popup {
    font-family: 'Courier New', Courier, monospace;
    font-size:25px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    color: yellow;
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
}

h3{
    background: linear-gradient(90deg, magenta, cyan, yellow, cyan, magenta);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%; /* Aumenta el tamaño del fondo para permitir el movimiento */
    animation: colorSpectrum 5s infinite linear; /* Asegura un movimiento suave y continuo */ 
}


/* para las responsivas*/

/* Estilos para tablets (menos de 1024px) */
@media (max-width: 1024px) {
    .panel {
        width: 200px;
        font-size: 14px;
        height: 100vh;
    }

    .panel .tab {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }

    .panel-title {
        font-size: 18px;
    }

    .panel-subtitle,
    .panel-text {
        font-size: 13px;
    }

    .popup {
        font-size: 25px;
    }
}

/* Estilos para celulares (menos de 768px) */
@media (max-width: 768px) {
    .container1 {
        flex-direction: column;
    }

    .panel {
        width: 100%;
        height: 40vh;
        bottom: 0;
        top: auto;
        right: 0;
        transition: bottom 0.3s ease;
    }

    .panel .tab {
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 14px;
        border-radius: 5px 5px 0 0;
    }

    .panel-title {
        font-size: 16px;
    }

    .panel-subtitle,
    .panel-text {
        font-size: 12px;
    }

    .popup {
        font-size: 20px;
    }
}

/*para pantallas pequenas de 480*/
@media(max-width: 480px){
    .container1 {
        flex-direction: column;
    }

    .panel {
        width: 100%;
        height: 50vh;
        bottom: 0;
        top: auto;
        right: 0;
        transition: bottom 0.3s ease;
        overflow-y: auto; /* Permite desplazamiento vertical */
    }

    .panel .tab {
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        border-radius: 5px 5px 0 0;
    }

    .panel-title {
        font-size: 16px;
    }

    .panel-subtitle,
    .panel-text {
        font-size: 12px;
    }

    .popup {
        font-size: 18px;
    }
}